  .card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 0px;
     background: linear-gradient(to top left, #6666ff 0%, #3399ff 97%);
    border-radius: 2px;
    background-color: #fff;
}


    #about .card-panel
    {
        background-color: white;
    }
    .personal_text h3 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222222;
} 

.personal_text h6 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222222;
}

   .personal_text h4 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222222;
}
.personal_text p {
    font-family: "Roboto", sans-serif;
    max-width: 540px;
    color: #777777;
    margin-bottom: 40px;
}
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.personal_text .basic_info li {
    margin-bottom: 15px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.personal_text .personal_social {
    margin-top: 45px;
}
.personal_text .personal_social li {
    display: inline-block;
    margin-right: 7px;
}
.personal_text .personal_social li a {
    line-height: 40px;
    width: 40px;
    background: #a5a5a3;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.personal_text .basic_info li a {
    font-size: 16px;
    color:gray;
   
}

.personal_text .fa{
    
    padding-right:7px;
    
    font-size: 18px;
    text-align: center;
    color: #3399ff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.personal_social .fa{
    
    padding-right:0px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brand_later img
{ 
    width: 40px;
    height: 50px;
    border-radius:50%;
   padding-top:15px;
   margin-bottom: -10px;
}

 .personal_text .personal_social li:hover a {
      background-image:linear-gradient(to top left, #6666ff 0%, #3399ff 97%); ;
      background-image: linear-gradient(to top left, #6666ff 0%, #3399ff 97%);;
      background-image: linear-gradient(to top left, #6666ff 0%, #3399ff 97%); }



      @media only screen and (max-width: 640px)
      {

        .wel_item {
    margin-bottom:10px;
}
        .personal_text h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: normal;
  margin-bottom: 12px;
  color: #222222; }
.personal_text h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222; }
.personal_text h3 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #222222; }
.personal_text p {
  font-family: "Roboto", sans-serif;
  max-width: 540px;
  color: #777777;
  margin-bottom: 40px; }
.personal_text .basic_info li {
  margin-bottom: 15px; }
  .personal_text .basic_info li a {
    position: relative;
    padding-left:30px;
    font-size: 16px;
    color: #777777; }
    .personal_text .basic_info li a i {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #766dff; }
  .personal_text .basic_info li:last-child {
    margin-bottom: 0px; }
.personal_text .personal_social {
  margin-top: 45px; }
  .personal_text .personal_social li {
    display: inline-block;
    margin-right: 7px; }
    .personal_text .personal_social li:last-child {
      margin-right: 0px; }
    .personal_text .personal_social li a {
      line-height: 40px;
      width: 40px;
      background: #a5a5a3;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      color: #fff;
      font-size: 16px; }
      }


   .skill_item h4 {
    text-align: none;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #222222;
    margin-bottom:5px;
}

.welcome_text h4 {
    color: #222222;
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.welcome_text p {
    max-width: 495px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
}

.wel_item i {
    font-size: 24px;
    background:linear-gradient(to top left, #6666ff 0%, #3399ff 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wel_item h4 {
    font-size: 24px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 10px;
}

.wel_item p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 0px;
}


@media only screen and(max-width: 647px)
{
.wel_item {
    margin-bottom:10px;
}

}
.wel_item {
    border: 1px solid #eeeeee;
    padding: 10px 10px;
    border-radius: 5px;
}

.progress
{
   border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 10px;
        background-color: #b3cce2;
}
}

.timeline-section{
    background-color:linear-gradient(to top left, #6666ff 0%, #3399ff 97%);;
    min-height:auto;
}
.timeline-items{
   
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #2f363e;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom:15px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 16px;
    width: 16px;
    background-color:white;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top:10px;
}
.timeline-date{
    font-size: 18px;
    color:orange;
    padding: 15px;
     font-weight: bold;
    margin:6px 0 6px;
}
.timeline-content{
    background-color: transparent;
    padding:0px;
    border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
    color: #ffffff;
    margin:0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left:0;
    }
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main_title p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom:50px;
}

.feature_item {
    padding: 50px 35px;
    text-align: center;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: white;
    margin-bottom: 30px;
}
.feature_item i {
    margin-bottom: 35px;
    display: block;
}

.feature_item h4 {
    color: #222222;
    font-size: 21px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.feature_item {
    padding: 50px 35px;
    text-align: center;
    height:400px;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: #eeeeee;
    margin-bottom: 30px;
    transition: 0.6s;
}

@media only screen and (max-width: 640px)
{

    .feature_item {
    padding: 50px 35px;
    text-align: center;
    height:auto;
    border-radius: 10px;
    transition: all 300ms linear 0s;
    background: #eeeeee;
    margin-bottom: 30px;
}

}
.feature_item:hover
{
     transform:translate(10px);
     background: linear-gradient(to top left, #6666ff 0%, #3399ff 97%);;
     color: white;
    
}

.feature_item p {
    margin-bottom:20px;
    text-align: justify;
}

.feature_item i:before {
    margin-left: 0px;
    font-size: 60px;
    color: #e1e1e1;
    line-height: 60px;
}
.fa-android:before {
    content: "\f17b";
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 15px;
    text-transform: uppercase;
}

@media only screen and (max-width: 575px)
.main_title h2 {
    font-size: 25px;
}
.testi_item {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fff;
    height: 290px;
    padding: 40px 28px;
}

.testi_item a {
    color: #ffc000;
}

.main_btn {
    display: inline-block;
    background:linear-gradient(to top left, #6666ff 0%, #3399ff 97%);
    background-size: 200% auto;
    padding: 0px 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 48px;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms linear 0s;
}

.more_btn {
    text-align: center;
    margin-top: 80px;
}

}
.testi_item {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fff;
    
    padding: 40px 28px;
}


.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.testi_item h4 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
}


.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    margin-bottom: 30px;
    text-transform: uppercase;
}



.main_title {
    text-align: center;
    max-width: 670px;
    margin: 0px auto 75px;
}


.testi_item {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fff;
    height: 290px;
    padding: 40px 28px;
}

#Testimonials .testi_item 
{
     border: 1px solid #eeeeee;
    border-radius: 10px;
    background: #fff;
    height: 310px;
    padding: 40px 28px;
}


.testi_item p {
    font-style: italic;
}
.testi_item h4 {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
}

.socil-icon ul li .fa
{
    padding:5px;
    color: purple;
    margin: 3px;
    font-size: 20px;
}

.carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    display: none;
    padding: 0!important;
    font: inherit;
}

.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    display: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav .owl-next
{
    display: none;
}
 .banner_content h2 {
    color: #222222;
    font-size: 48px;
    font-family: "Heebo", sans-serif;
    margin-bottom: 0px;
    font-weight: bold;
}

.page_link a {
    font-size: 14px;
    color: #222222;
    font-family: "Roboto", sans-serif;
    margin-right: 32px;
    position: relative;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


.contact_info .info_item {
    position: relative;
    padding-left: 45px;
}

.contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #766dff;
    font-weight: 600;
}
.contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    color: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #222222;
}
.contact_info .info_item h6 a {
    color: #222222;
}

.contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px;
}

.preloader {
   position:fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background:blue url('https://images.squarespace-cdn.com/content/v1/5108adb5e4b09f18594d82f4/1436503397483-NRQSJDS17J6Y9VPQFLSN/SH-MS-CIRCLE.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
   z-index: 999999;
}

@media only screen and (max-width: 540px)
{
    .preloader {
   position:fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-image: blue url('https://images.squarespace-cdn.com/content/v1/5108adb5e4b09f18594d82f4/1436503397483-NRQSJDS17J6Y9VPQFLSN/SH-MS-CIRCLE.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
   z-index: 999999;
}

}



